<div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <span class="d-flex justify-content-between">
          <span>Activity</span>
          <span class="dropdown dropleft d-block">
            <span id="dropdownMenuButton1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span><i class="mdi mdi-dots-horizontal"></i></span>
            </span>
            <span class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="#">Contact</a>
              <a class="dropdown-item" href="#">Helpdesk</a>
              <a class="dropdown-item" href="#">Chat with us</a>
            </span>
          </span>
        </span>
      </h4>
      <ul class="gradient-bullet-list border-bottom">
        <li>
          <h6 class="mb-0"> It's awesome when we find a new solution </h6>
          <p class="text-muted">2h ago</p>
        </li>
        <li>
          <h6 class="mb-0">Report has been updated</h6>
          <p class="text-muted">
            <span>2h ago</span>
            <span class="d-inline-block">
              <span class="d-flex d-inline-block">
                <img class="ml-1" src="assets/images/faces/face1.jpg" alt="" />
                <img class="ml-1" src="assets/images/faces/face10.jpg" alt="" />
                <img class="ml-1" src="assets/images/faces/face14.jpg" alt="" />
              </span>
            </span>
          </p>
        </li>
        <li>
          <h6 class="mb-0"> Analytics dashboard has been created#Slack </h6>
          <p class="text-muted">2h ago</p>
        </li>
        <li>
          <h6 class="mb-0"> It's awesome when we find a new solution </h6>
          <p class="text-muted">2h ago</p>
        </li>
      </ul>
      <a class="text-black mt-3 mb-0 d-block h6" href="#">View all <i class="mdi mdi-chevron-right"></i></a>
    </div>
  </div>