<!-- <div class="col-xl-4 col-md-6 grid-margin stretch-card"> -->
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-black">Recent Customers</h4>
        <p class="text-muted">All contacts</p>
        <div class="row pt-2 pb-1">
          <div class="col-12 col-sm-7">
            <div class="row">
              <div class="col-4 col-md-4">
                <img class="customer-img" src="assets/images/faces/face22.jpg" alt="" />
              </div>
              <div class="col-8 col-md-8 p-sm-0">
                <h6 class="mb-0">Cecelia Cooper</h6>
                <p class="text-muted font-12">05:58AM</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pl-0">
            <canvas id="areaChart1"></canvas>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-4 col-sm-4">
                <img class="customer-img" src="assets/images/faces/face25.jpg" alt="" />
              </div>
              <div class="col-8 col-sm-8 p-sm-0">
                <h6 class="mb-0">Victor Watkins</h6>
                <p class="text-muted font-12">05:28AM</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pl-0">
            <canvas id="areaChart2"></canvas>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-4 col-sm-4">
                <img class="customer-img" src="assets/images/faces/face15.jpg" alt="" />
              </div>
              <div class="col-8 col-sm-8 p-sm-0">
                <h6 class="mb-0">Ada Burgess</h6>
                <p class="text-muted font-12">05:57AM</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pl-0">
            <canvas id="areaChart3"></canvas>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-4 col-sm-4">
                <img class="customer-img" src="assets/images/faces/face5.jpg" alt="" />
              </div>
              <div class="col-8 col-sm-8 p-sm-0">
                <h6 class="mb-0">Dollie Lynch</h6>
                <p class="text-muted font-12">05:59AM</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pl-0">
            <canvas id="areaChart4"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-4 col-sm-4">
                <img class="customer-img" src="assets/images/faces/face2.jpg" alt="" />
              </div>
              <div class="col-8 col-sm-8 p-sm-0">
                <h6 class="mb-0">Harry Holloway</h6>
                <p class="text-muted font-12 mb-0">05:13AM</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pl-0">
            <canvas id="areaChart5" height="100"></canvas>
          </div>
        </div>
        <a class="text-black mt-3 d-block font-weight-medium h6" href="#">View all <i class="mdi mdi-chevron-right"></i></a>
      </div>
    </div>
  <!-- </div> -->